body {
    background-image: url(../img/guillermo-velarde-e-4iBXpQo7U-unsplash.jpg);
    background-repeat: no-repeat; 
    background-size: 100rem;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: sahel;
}


nav {
    height: 65px;
    background-color: rgba(0, 0, 0, 0.65);
}

.nav-center {
    text-align: center;
    font-size: 24px;
    position: absolute;
    right: 86px;
    color: white;
    top: 8px;z-index: 0;
}

.nav-center img {
    width: 53px;
    height: 45px;
    position: absolute;
    left: 183px;
    top: 0;
    z-index: 1;
}

footer {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
}

.footer {
    text-align: center;
    margin: 7px;
    color: white;
    user-select: none;
}

.fa-heart {
    margin: 0px 3px;
    color: red;
}

.fa-coffee {
    margin: 0px 3px;
    color: #976846;
}

.dice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.dice-res p {
    color: white;
    font-size: 20px;
    padding: 3px;
    margin: 0px 0px 10px 0px;

}
.green{
    color: green;
    font-size: 55px;
}

.dice-center {
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000;
    width: 30rem;
    height: 15rem;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.7);
}

.dice-btn .btn{
    font-size: 18px;
    padding: 5px 10px;
    font-family: sahel;
    cursor: pointer;
    outline: none;
    background-color: #FFB300;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease;
    margin-top: 5px;
}

.dice-btn .btn:hover{
    opacity: 0.9;
}

.die{
    font-size: 5rem;
    color: white;
    padding: 10px 20px 20px 20px;
}

.die{
    animation-name: shake;
    animation-duration: 1s;
    transition:all 1s ease;
}

@keyframes shake{
    from{
        transform: rotate(360deg) scale(0.65);
    }

    to{
        transform: rotate(0deg) scale(1);
    }
}